.createSingle{
  background-color: #fff;
  padding: 30px;
  margin: 60px 0;
  li{
    margin-bottom: 20px;
    .btn{
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  .leftBtn{
    margin-right: 30px;
  }
  textarea{
    min-height: 200px;
  }
  .col-lg-4{
    img{
      width: 100%;
    }
  }
}
.breadcrumbstep {
  //text-align: center;
  margin-bottom: 40px;
  li {
    display: inline-block;
    position: relative;
    vertical-align: top;
    height: 40px;
    line-height: 40px;
    padding: 0 40px;
    background-color: #f5f5f5;
    color: black;

    &:before, &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
    }

    & + li {
      margin-left: 3px;

      &:before {
        left: 0;
        top: 0;
        border-top: 20px solid transparent;
        border-left: 20px solid #ddd;
        border-bottom: 20px solid transparent;
      }
    }

    &:first-child {
      border-radius: 4px 0 0 4px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }

    &:not(:last-child) {
      padding-right: 20px;

      &:after {
        z-index: 1;
        right: -20px;
        bottom: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid #f5f5f5;
      }
    }

    &:hover,&.active {
      background-color: #d51073;
      color: #ffffff;

      &:after {
        border-left-color: #d51073;
      }
    }
  }
}
