$primary:       #d51073 !default;

@import '../../node_modules/bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');


body,html{
  color: #A8B0C1;
  background: url("../images/bg.png")  no-repeat fixed;
  background-size: cover;
  height: 100%;
}

ul,li{
  list-style: none;
  padding: 0;
  margin: 0;
}

*{
  font-family: 'Roboto', sans-serif!important;
  outline: none!important;
  box-shadow: none!important;
  &:focus{
    outline: none!important;
    box-shadow: none!important;
  }
}
textarea{
  resize: none;
}

.btn{
  cursor: pointer;
  margin-right: 20px;
  border: 1px solid #EE42D1;
  font-size: 14px;
  color: #ffffff;
  padding: 9px 27px;
  border-radius: 57px;
  outline: none;
  //&:link{color:#fff}
  &:hover,&:focus{
    background: linear-gradient(90deg, #4B69F2 0%, #EE42D1 100%);
    border:0;
    margin: 1px;
    margin-right: 21px;
    color: #ffffff;
    outline: none;
    //background-image: linear-gradient(#4B69F2,#EE42D1),linear-gradient(90deg, #4B69F2 0%, #EE42D1 100%);
  }
  &:active{
    background: linear-gradient(90deg, rgba(75, 105, 242, 0.6) 0%, rgba(238, 66, 209, 0.6) 100%), linear-gradient(0deg, #000000, #000000);
    border:0;
    margin: 1px;
    margin-right: 21px;
    color: #ffffff;
    outline: none;
  }
}

.btnR{
  cursor: pointer;


  font-size: 14px;
  padding: 9px 27px;
  border-radius: 57px;
  outline: none;

  background: linear-gradient(90deg, #4B69F2 0%, #EE42D1 100%);
  border:0;
  margin: 1px;
  margin-right: 21px;
  color: #ffffff;
  img{
    margin-right: 12px;
    width: 24px;
    height: 24px;
  }
  //&:link{color:#fff}
  &:hover,&:focus{
    background: linear-gradient(90deg, #4B69F2 0%, #EE42D1 100%);
    border:0;
    margin: 1px;
    margin-right: 21px;
    color: #ffffff;


  }
  &:active{
    background: linear-gradient(90deg, rgba(75, 105, 242, 0.6) 0%, rgba(238, 66, 209, 0.6) 100%), linear-gradient(0deg, #000000, #000000);
    border:0;
    margin: 1px;
    margin-right: 21px;
    color: #ffffff;
    outline: none;
  }
}
.row{
  margin: 0!important;
}
.norow{
  .row{
    margin-left: -15px!important;
    margin-right: -15px!important;
  }
}


@import "src/scss/App";
@import "src/scss/slider";
@import "src/scss/About";
@import "src/scss/Create";
@import "src/scss/vote";
@import "src/scss/react-datetime";
@import "src/scss/vault";
@import "src/scss/org";
@import "src/scss/loading";

