@font-face {
  font-family: "Roboto-Light";
  src: url('./fonts/Roboto-Light.ttf');
}
@font-face {
  font-family: "Roboto-Regular";
  src: url('./fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: "PingFang-Regular";
  src: url('./fonts/PingFang-Regular.ttf');
}
@font-face {
  font-family: "PingFang-Medium";
  src: url('./fonts/PingFang-Medium.ttf');
}
