.loading{
  text-align: center;


  .modal-content{
    background: #130b37;
    border-radius: 15px;
    padding: 62px 0 53px;
  }
  h4{
    color: #ffffff;
  }
}
  .spinner{
    margin-bottom: 44px;
  }
.waiting{
  display: inline-block;
}
