.sliderBrdr{
  width: 100%;
  overflow-x: auto;
  padding:0 73px;
  box-sizing: border-box;
  display: flex;
  ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  li{
    display: inline-block;
    margin-right: 54px;
    line-height: 73px;
    cursor: pointer;
    min-width: 74px;

    &:hover, &.active{
      img{
        width: 73px;
        height: 73px;
        border-radius: 73px;
      }
    }
    img{
      width: 37px;
      height: 37px;
      border-radius: 37px;
    }
  }
}
