.voteBtn{
  position: relative;
  .removeDate{
    color:#d51073;
    position: absolute;
    top:8px;
    right:10px;
    display: inline-block;
    padding:0 5px;
    z-index: 99;
  }
}
.timeTop{
  font-weight: bold;
  i{
    color:#d51073;
  }
}
.VotetitleTop{
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.voteContent{
  font-size: 20px;
  line-height: 1.5em;
  word-wrap:break-word;
  word-break:normal;
  margin: 30px 0 70px;
  color: #A8B0C1;
  .desc{
    padding-bottom: 20px;
  }
}
.voteSelect{
  .radioOption{
    word-wrap:break-word;
    word-break:normal;
    //padding-left: 20px;
    color: #ffffff;
    font-weight: 300;
    border-radius: 15px;
    margin-bottom: 1em;
    padding: 0;
    border: 1px solid #281A62;
    &:hover,&.radioActive{
      border: none;
      padding: 1px;
      background-image: linear-gradient(#2e2e2e,#2e2e2e),linear-gradient(to bottom right,  #4B69F2, #EE42D1);
      background-clip: content-box,padding-box;
      transition: filter .5s ease;
    }
  }
  .form-group{
    padding: 20px;
    margin-bottom: 0;

    .form-check{
      display: flex;
      justify-content: space-between;
    }
    label{
      margin-bottom: 0;
    }
    .form-check-inputRadio{
    }

    input[type='radio' i] {
      appearance:none;
       -moz-appearance: none;
      background: rgb(100,100,100);
      width: 22px;
      height: 22px;
      outline: none;
      border-radius: 100%;
    }
    input[type='radio']:checked {
      appearance: none;
      //background: #f00;
      background: url("../images/sel2.png") center;
      background-size: 100%;
    }
  }
}

.vote{
  h6{
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
  }
  table{
    margin-bottom: 30px;
    border: 0;
    border-collapse:   separate!important;;
    border-spacing:0 20px!important;
    th,td{
      border: 0;
    }
    th{
      font-size: 14px;
      line-height: 16px;
      font-weight: normal;
      color: #A8B0C1;
      &:last-child{
        text-align: right;
        padding-right: 25px;
      }
    }
    tbody{
      padding: 1px;
      box-sizing: border-box;
      tr{
        padding: 1px;
        box-sizing: border-box;
      }
      tr:hover{
        //border: none;
        //font-size: 14px;
        //line-height: 18px;
        //color: #A8B0C1;
        //background-image: linear-gradient(#2e2e2e,#2e2e2e),linear-gradient(90deg,  #4B69F2, #EE42D1);
        //background-clip: content-box,padding-box;
        //transition: filter .5s ease;

        background: linear-gradient(90deg, #4B69F2 0%, #EE42D1 100%);
        border:0;
        margin: 1px;
        margin-right: 21px;
        color: #ffffff;
        outline: none;
      }
    }

    td{
      font-size: 14px;
      line-height: 18px;
      color: #A8B0C1;
      background: #140B3680;
      padding: 25px;

      &:first-child{
        text-align: center;
        width: 51px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      }
      &:last-child{
        width: 51px;
        text-align: right;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;

      }
    }
    div{
      display: inline-block;
      color:#d51073;
      .badge{
        color: #ffffff;
        padding:5px 0;
        text-decoration: none!important;
        cursor: default!important;
      }
    }
    span{
      cursor: pointer;
      min-width: 80px;
      display: inline-block;
      color: #433a8b;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
#main{
  width:100%;
  height: 600px;
}
.bg{
  position: relative;
  img{
    margin-bottom: 50px;
  }

  .brdr{
    position: absolute;
    bottom: 0;
  }
}
.VotewidthAuto{
  width: 100%;
  overflow-x: auto;
  box-sizing: border-box;
  .wrapper{
    display: flex;
  }
  .displayFlex{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  li{
    flex-shrink: 0;
    width: 611px;
    margin-right: 55px;
  }
}

.voteTop{
  display: flex;
  justify-content: space-between;
  margin: 10px 70px 50px 0;
  min-height: 60px;
  .voteLft{
    margin-top: 40px;
    cursor: pointer;
  }
  .btnR{
    height: 44px;
  }
}
.votePending{
 height: 625px;
  overflow-y: auto;
  margin-top: -12px;
}

.newVoteBrdr{
  .modal-dialog{
    margin-top: 0;
  }
  .modal-content{
    //background: #1E0F56;
    background: #130b37;
    width: 622px;
    padding:40px 40px 60px;
    border-radius: 0px 0px 35px 35px;

  }
  .modal-footer{
  border: 0;
     }
  .modal-header{
    color: #ffffff;
    font-size: 32px;
    border: 0;
    //padding: 86px 0 0 46px;
    text-transform: capitalize;
    img{
      width: 42px;
      height: 42px;
    }
    span{
      padding-left: 33px;
      display: inline-block;    font-size: 32px;
    }
    .close{
      width: 42px;
      height: 42px;
      background: url("../images/shutdownW.png");
      opacity: 1;
      margin-top: 5px ;
      span{
        display: none;
      }
    }
  }
  .form-label{
    margin-left: 10px;
  }
  .inputBrdr textarea.form-control{

      height: 250px!important;

  }
.NextBrdr{
  width: 100%;
  margin-top: 40px;
}
  .NextBrdrAdd{
    margin-top: 20px;
  }
  .button2{
  display: flex;
    justify-content: space-between;
    button:first-child{
      margin-right: 20px;
    }
    button:last-child{
      //background: linear-gradient(90deg, #4B69F2 0%, #EE42D1 100%);
      //border:0;
      margin-right: 0;
      //color: #ffffff;
    }
}

}

.newvoteTop {
  width: 100%;
  margin: 15px auto 45px;
  position: relative;
  .bgline{
    position: absolute;
    left: 0;
    top:0;
    border-bottom: 2px solid #3A2886;
    width:100%;
    height: 19px;
  }
  ul{
    display: flex;
    justify-content: space-between;
  }
  li{
    position: relative;

    span{
      display: inline-block;
      width: 37px;
      height: 37px;
      border-radius: 37px;
      text-align: center;
      line-height: 37px;
      box-sizing: border-box;
      background: #3A2886;
      color: #A8B0C1;
    }
    &.active{
      span{
        color: #ffffff;
        border: none;
        background-image: linear-gradient(#2e2e2e,#2e2e2e),linear-gradient(to bottom right,  #4B69F2, #EE42D1);
        font-weight: 300;
        padding: 1px;
        background-clip: content-box,padding-box;
        transition: filter .5s ease;
      }
      div{
        display: block;
      }
    }
    div{
      position: absolute;
      top:-50px;
      color: #ffffff;
      padding-top: 3px;
      box-sizing: border-box;
      text-align: center;
      height: 40px;
      display: none;
    }
    &.step1,&.step2{
      div{
        background: url("../images/Union.png") no-repeat;
        width: 173px;
        left:-68.5px ;
      }
    }
    &.step3{
      div{
        background: url("../images/Union3.png") no-repeat;
        width: 209px;
        left:-87.5px ;
      }
    }
  }
  //li {
  //  box-sizing: border-box;
  //  display: inline-block;
  //  position: relative;
  //  vertical-align: top;
  //  height: 40px;
  //  line-height: 40px;
  //  padding: 0 49px;
  //  background-color: #f5f5f5;
  //  color: black;
  //
  //  &:before, &:after {
  //    content: '';
  //    position: absolute;
  //    width: 0;
  //    height: 0;
  //  }
  //  & + li {
  //    margin-left: 3px;
  //
  //    &:before {
  //      left: 0;
  //      top: 0;
  //      border-top: 20px solid transparent;
  //      border-left: 20px solid #ddd;
  //      border-bottom: 20px solid transparent;
  //    }
  //  }
  //
  //  &:first-child {
  //    border-radius: 4px 0 0 4px;
  //  }
  //
  //  &:last-child {
  //    border-radius: 0 4px 4px 0;
  //  }
  //
  //  &:not(:last-child) {
  //    padding-right: 20px;
  //
  //    &:after {
  //      z-index: 1;
  //      right: -20px;
  //      bottom: 0;
  //      border-top: 20px solid transparent;
  //      border-bottom: 20px solid transparent;
  //      border-left: 20px solid #f5f5f5;
  //    }
  //  }
  //
  // &.active {
  //    background-color: #d51073;
  //    color: #ffffff;
  //
  //    &:after {
  //      border-left-color: #d51073;
  //    }
  //  }
  //}
}
.mt10{
  margin-top: 0;
}
.overView{
  li{
    margin-bottom: 40px;
    &:last-child,&:first-child{
      div{
        font-size: 20px;
        line-height: 23px;
        color: #ffffff;

      }
    }
  }
  h6{
    font-size: 18px;
    line-height: 21px;
    color: #A8B0C1;
    font-weight: normal;

  }
  div{
    color: #ffffff;
    font-size: 36px;
    line-height: 42px;
  }

}
.voteViewTD{

  div{
    min-width: 100px;
    display: flex;
    flex-wrap: nowrap;
  }
  span{
    min-width: auto!important;
    box-sizing: border-box;
    margin-left: 20px;
  }
}
