.voteBtn{
  margin-top: 20px;
}
.vote{
  h6{
    padding-bottom: 10px;
  }
  table{
    margin-bottom: 30px;
    div{
      display: inline-block;
      color:#d51073;
      .badge{
        color: #ffffff;
        padding:5px 0;
        text-decoration: none!important;
        cursor: default!important;
      }
    }
    span{
      cursor: pointer;
      min-width: 80px;
      display: inline-block;
      color: #433a8b;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
